.vs/**
.vscode/**
.vscode-test/**
scripts/**
src/**
test/**
out/src/**
out/test/**
!out/src/extension.js
node_modules/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
*.swp
*.swo
.DS_Store
